# PyTorch simple example

  * article: <https://towardsdatascience.com/how-to-code-a-simple-neural-network-in-pytorch-for-absolute-beginners-8f5209c50fdd>
  * dataset: <https://www.kaggle.com/c/titanic/data>

In [13]:
import pandas as pd

df = pd.read_csv("dat/titanic/train.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [14]:
from torch.utils.data import Dataset
import torch

In [15]:
class TitanicDataset (Dataset):
    def __init__ (self, csvpath, mode="train"):
        self.mode = mode
        df = pd.read_csv(csvpath)
        """       
        <------Some Data Preprocessing---------->
        Removing Null Values, Outliers and Encoding the categorical labels etc
        """
    
        if self.mode == "train":
            df = df.dropna()
            self.inp = df.iloc[:, 1:].values
            self.oup = df.iloc[:, 0].values.reshape(891, 1)
        else:
            self.inp = df.values


    def __len__ (self):
        return len(self.inp)


    def __getitem__ (self, idx):
        if self.mode == "train":
            inpt  = torch.Tensor(self.inp[idx])
            oupt  = torch.Tensor(self.oup[idx])
            
            return {
                "inp": inpt,
                "oup": oupt,
            }
        else:
            inpt = torch.Tensor(self.inp[idx])
            
            return {
                "inp": inpt
            }

In [16]:
## initialize and load the dataSet
data = TitanicDataset("dat/titanic/train.csv")
data_train = DataLoader(dataset=data, batch_size=BATCH_SIZE, shuffle=False)

ValueError: cannot reshape array of size 183 into shape (891,1)